.gameboard > section {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    transform: scale(-1, 1);
}

.gameboard > section > div {
    border: 1px black solid;
    padding: 5px;
    height: 25px;
    width: 25px;
    transform: scale(-1, 1);
}

.gameboard > section > div[color="b"] {
    background-color: brown;
}

.gameboard > section > div[color="w"] {
    background-color: wheat;
}

.gameboard > section > div > div[color="black"] {
    color:black;
    background-color: aqua;
}

.gameboard > section > div >  div[color="white"]   {
    color: white;
    background-color: yellowgreen;
}


